.photo-list--item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px;
  padding: 16px;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
  background-color: #FFFFFF ;
  object-position: center center
}

.photo-list--image {
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list--image {
  display: flex;
  justify-self: center;
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
  align-self: center;


 
}

.photo-list--user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.photo-list--user-details {
  display: flex;
}

.photo-list--user-info {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  margin-left: 8px;
  margin-bottom: 0px;
}

.photo-list--user-location {
  color: #838383;   
  font-weight: 700;
  font-size: 10px;
  margin-left: 8px;
  margin-top: 0px;
}
.photo-list--user-details_letters {
  display: flex;
  flex-direction: column;
}
