// .topic-list--item {
//   display: flex;
//   flex-direction: row;
//   line-height: 24px;
//   margin-left: 24px;
//   font-size: 30px;
//   text-decoration: none;
//   font-weight: 500;
//   color: #111;
// }

// .topic-list--item span {
//   font-size: 30px;
//   text-decoration: none;
//   font-weight: 500;
//   color: #010000;

//   &:hover {
//     text-decoration: overline;
//     color: #111;
//   }
// }

.topic-list--item {
  display: flex;
  flex-direction: row;
  justify-content: end;
  line-height: 24px;
  margin-left: 24px;
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  color: #111;
}

.topic-list--item a {
  font-size: 30px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.topic-list--item a:hover {
  text-decoration: none;
  color: #111;
}